<div class ="card mb-4">
  <img class="card-img-top" src="<%= post.image_url %>" alt="Card image cap">

  <div class="card-body">
    <h2 class="card-title">
      <%= post.title %>
    </h2>
    <p class="card-text">
      <%= post.content %>
    </p>

    <%= link_to "Read More →",post_path(post),class: "btn btn-primary" %>
  </div>

  <div class="card-footer text-muted">
    
  </div>

</div>